.top-bar{
    background: white;
}
#right-navigation >li >a{
    background: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
#left-navigation >li >a{
    background: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
#right-navigation >li >a:hover{
    color: #e31e24;
    text-decoration: underline;
}
.toggle-topbar{
    background-color: white;
    color: black;
}
.top-bar .toggle-topbar.menu-icon a{
     color: rgba(227,30,36,.8);
     font-family: 'Roboto', sans-serif;
}
.top-bar .toggle-topbar a{
    color: black;
    font-family: 'Roboto', sans-serif;
}
body{
   font-family: 'Roboto', sans-serif;
}
.button{
    background-color: #2199e8;
    font-family: 'Roboto', sans-serif;
}
.top-bar-section .dropdown li a{
    color: black;
    font-family: 'Roboto', sans-serif;
    background: white;
}
i{
    /*color: rgba(227,30,36,1);*/
    font-size: 25px;
}
span.prefix{
    background: white;
    /*border: none;*/
}
.reveal-modal{
    width: 40%;
}
.facebook{
    background-color: #3b5998;
}
.google{
   background-color: #d50f25;
}
.twitter{
   background-color:#55acee;
}